$green: #39c65f;
$gray: #343a40;

body,
html {
  width: 100%;
  height: 100%;
  background-color: $gray !important;
}

body {
  font-family: "Alata", sans-serif;
}

nav {
  border-bottom: 2px solid $green;
  font-family: "Alata", sans-serif;
}

main {
  color: white;
  margin-top: 50px;
}

.nav-link,
.navbar-brand {
  color: $green !important;
}
.nav-link:hover,
.navbar-brand:hover {
  color: white !important;
}
.about {
  font-family: "Alata", sans-serif;
  font-size: 18px;
}
.profilePic {
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: $green;
  height: 220px;
  width: 220px;
  border-radius: 180px;
  img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
  }
}
.module {
  color: white;
  margin: 0 auto;
  width: 400px;
  height: auto;
  border: 3px solid $green;
  text-align: center;
  padding: 10px;
  h2 {
    color: $green;
  }
}
