$oswald: "Oswald", sans-serif;
$red: #ef312b;

html {
  font-size: 20px;
}

body {
  margin: 0 auto;
  font-family: $oswald;
}

h1 {
  font-size: 5em;
  margin: 0;
}
h2 {
  font-size: 3.5em;
  margin: 0;
}
h3 {
  font-size: 2.5px;
  margin: 0;
  color: $red;
}

p {
  font-size: 1em;
}

.logo {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
}

.content {
  width: 100%;
  background-color: black;
  margin-bottom: 0 auto;
}

.hero {
  h1 {
    color: black;
    text-align: center;
    padding-top: 10%;
  }
  width: 100%;
  height: 30em;
  background-image: url(Content/Images/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: $red;
  background-blend-mode: screen;
}
.about {
  padding-left: 20%;
  padding-right: 20%;
  background-color: white;
  padding-bottom: 50px;
  .aboutContent {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.work {
  padding-left: 20%;
  padding-right: 20%;
  background-color: black;
  color: white;
  padding-bottom: 50px;
  a {
    text-decoration: none;
    color: $red;
  }
  a:hover {
    color: white;
  }
}
.porthole {
  width: 75%;
  min-width: 200px;
  height: auto;
  border-radius: 180px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

/*Media queries below: */

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  html {
    font-size: 16px;
  }
  .about {
    .aboutContent {
      display: block;
    }
  }
}
/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }
  .about {
    .aboutContent {
      display: block;
    }
  }
}
/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 20px;
  }
}
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
